.favorites-title {
  @include tablet {
    @include font(42px, 700, 1.2);
  }

  @include desktop {
    @include short-font(42px, 1.2);
  }

  @include font(28px, 700, 1.2);

  color: $title-section-color;
  text-align: center;
  padding-bottom: 20px;
}

.favorites-text {
  @include tablet {
    @include short-font(16px, 1.2);
  }

  @include desktop {
    @include short-font(16px, 1.2);

    padding-bottom: 40px;
  }

  @include short-font(14px, 1.1);

  color: $base-color-text;
  text-align: center;
  padding-bottom: 60px;
}

.favorites-list {
  @include tablet {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorites-item {
  @include desktop {
    margin-right: 32px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  margin-bottom: 20px;
}

.favotites-mob {
  @include tablet {
    display: block;
  }

  @include desktop {
    display: flex;
  }

  display: none;
}

.favorites-desktop {
  @include desktop {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.favorites-tablet {
  @include tablet {
    margin-left: 32px;
  }
}

.favorites-circle {
  display: flex;
  border: 11px solid $circle-color;
  background-color: $bg-white;
  border-radius: 50%;
  padding: 17.5px;
}
