.offerings {
  @include tablet {
    // max-width: 1239px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../../images/bg-fon/bg-fon-offerings768.png);
  }

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../../images/bg-fon/bg-fon-offerings@2_768.png);
  }

  @include desktop {
    // max-width: 1920px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../../images/bg-fon/bg-fon-offerings1280.png);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../../images/bg-fon/bg-fon-offerings@2_1280.png);
    }
  }

  display: block;
  // max-width: 767px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../../images/bg-fon/bg-fon-offerings_320.png);

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../../images/bg-fon/bg-fon-offerings@2_320.png);
  }

  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

// .offerings-box {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
// }

.apple-tablet {
  @include tablet {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    justify-content: center;
  }
}

.aplle-item {
  padding-top: 41px;
  padding-bottom: 60px;
  &:nth-child(n + 2) {
    display: none;
    margin: 0;
    padding: 0;
  }

  @include tablet {
    margin-right: 36px;
  }

  &:nth-child(n + 2) {
    @include tablet {
      display: flex;
      // height: 211px;
      margin-top: 90px;
      margin-right: 36px;
      // padding-bottom: 127px;
      // align-items: flex-end;
    }
  }

  &:nth-child(3) {
    @include tablet {
      //   display: flex;
      height: 136px;
      margin-top: 140px;
      // align-items: center;
      margin-right: 0;
    }
  }
}

.offerings-title {
  @include font(28px, 700, 1.2);

  color: $title-section-color;
  padding-bottom: 28px;
}

.offerings-text {
  @include short-font(14px, 1.1);

  color: $base-color-text;
  padding-bottom: 28px;
  // width: 272px;
}

.info-item {
  padding-bottom: 28px;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $bg-color-icon;
  fill: $icon-color;
  border-radius: 50%;
  margin-bottom: 8px;
}

.info-title {
  @include font(18px, 700, 1.2);

  color: $title-section-color;
  padding-bottom: 16px;
}

.info-text {
  @include short-font(14px, 1.1);

  color: $base-color-text;
  width: 252px;
}

// Buttons ---------------
.btn-info {
  @include desktop {
    cursor: pointer;
  }

  @extend %button-transpatent;
  @include font(13px, 500, 1.5);

  background-color: $btn-bg-white;
  color: $btn-color-text;
  margin-right: 24px;
}

.read-more {
  @include desktop {
    cursor: pointer;
  }

  @include short-font(14px, 1.4);

  display: inline-flex;
  align-items: center;
  padding: 12px 0;

  color: $btn-text-black;
  background-color: transparent;
  border: none;
}

.info-arrow {
  margin-left: 3px;
}
