// TEXT color---
$title-hero-color: #2c2c2c;
$title-section-color: #2c2c2c;
$base-color-text: #2c2c2c;
$btn-color-text: #2c2c2c;
$accent-color-text: #7eb101;
$email-color-text: #505050;

// SITE color---
$line-header-color: #fefefe;
$btn-bg-color: #bbf330;
$btn-menu-fill: #7EB101;
$btn-border-color: #7EB101;
