// TEXT color---
$title-hero-color: #2C2C2C;
$title-section-color: #2C2C2C;
$base-color-text: #2C2C2C;
$btn-color-text: #2C2C2C;
$accent-color-text: #7EB101;
$email-color-text: #505050;

// SITE color--- 
$line-header-color:  #FEFEFE;
$btn-bg-color: #BBF330;